<div class="container">
  <div class="text-center">
    <img src="assets/master-gym.jpeg" alt="">
    <h3>Bienvenido, por favor ingrese sus datos</h3>
  </div>
  <form [formGroup]="formularioLogin">
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico">
      <div *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty" class="alert alert-danger" role="alert">
        <span *ngIf="formularioLogin.controls['email'].errors.required">Correo electrónico es requerido</span>
        <span *ngIf="formularioLogin.controls['email'].errors.email">Correo electrónico es invalido</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" (keyUp.enter)="ingresar()" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña">
      <div *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty" class="alert alert-danger" role="alert">
        <span *ngIf="formularioLogin.controls['password'].errors.required">Correo electrónico es requerido</span>
      </div>
    </div>
    <button type="submit" (click)="ingresar()" [disabled]="!formularioLogin.valid" class="btn btn-primary">Ingresar</button>
  </form>

  <div *ngIf="!datosCorrectos" class="alert alert-warning" role="alert">
    {{textoError}}
  </div>

  <ngx-spinner bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "line-scale-pulse-out"
    [fullScreen] = "true">
    <p style="color: white" > Ingresando al sistema... </p>
  </ngx-spinner>
</div>
