<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <app-seleccionar-cliente
        [nombre]="clienteSeleccionado.nombre"
        (seleccionoCliente)="asignarCliente($event)"
        (canceloCliente)="eliminarCliente()">
      </app-seleccionar-cliente>
      <div>
        <label for="">Precio</label>
        <select name="" id="" [(ngModel)]="idPrecio" class="form-control" (change)="seleccionarPrecio($event.target.value)">
          <option [value]="null">Seleccione un precio</option>
          <option [value]="precio.id" *ngFor="let precio of precios">{{precio.nombre}}</option>
        </select>
      </div>
      <div>
        <label for="">Fecha Inicio</label>
        <input type="text" class="form-control" [value]="inscripcion.fecha | date" disabled>
      </div>
      <div>
        <label for="">Fecha Fin</label>
        <input type="text" class="form-control" [value]="inscripcion.fechaFinal | date">
      </div>

      <div>
        <label for="">Subtotal</label>
        <input type="number" class="form-control" [value]="inscripcion.subTotal" disabled>
      </div>
      <div>
        <label for="">Impuesto</label>
        <input type="number" class="form-control" [value]="inscripcion.impuesto" disabled>
      </div>
      <div>
        <label for="">Total</label>
        <input type="number" class="form-control" [value]="inscripcion.total" disabled>
      </div>

      <br>
      <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
    <div class="col-sm-6">
      <div *ngIf="clienteSeleccionado.imgUrl" class="imgCliente">
        <img [src]="clienteSeleccionado.imgUrl" alt="">
      </div>
    </div>
  </div>
</div>
