<div class="container mt-5">
  <form action="" [formGroup]="formularioCliente">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Agrege el nombre">
          <div *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['nombre'].errors.required">Nombre es requerido</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Agrege el apellido">
          <div *ngIf="formularioCliente.controls['apellido'].invalid && formularioCliente.controls['apellido'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['apellido'].errors.required">Apellido es requerido</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Correo Electrónico</label>
          <input type="text" class="form-control" formControlName="correo" placeholder="Agregue un correo electrónico"></div>
          <div *ngIf="formularioCliente.controls['correo'].invalid && formularioCliente.controls['correo'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['correo'].errors.required">Correo electrónico es requerido</span>
            <span *ngIf="formularioCliente.controls['correo'].errors.email">Correo electrónico es invalido</span>
          </div>
        </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">DNI</label>
          <input type="text" class="form-control" formControlName="dni" placeholder="Agregue un dni"></div>
          <div *ngIf="formularioCliente.controls['dni'].invalid && formularioCliente.controls['dni'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['dni'].errors.required">DNI es requerido</span>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Fecha de Nacimiento</label>
          <input type="date" class="form-control" formControlName="fechaNacimiento"></div>
          <div *ngIf="formularioCliente.controls['fechaNacimiento'].invalid && formularioCliente.controls['fechaNacimiento'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['fechaNacimiento'].errors.required">Fecha de nacimiento es requerido</span>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Teléfono</label>
          <input type="tel" class="form-control" formControlName="telefono" placeholder="Agregue un teléfono"></div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="">Imagen</label>
          <input type="file" class="form-control-file" (change)="subirImagen($event)" formControlName="imgUrl" placeholder="Agregue una imagen"></div>
          <div *ngIf="formularioCliente.controls['imgUrl'].invalid && formularioCliente.controls['imgUrl'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['imgUrl'].errors.required">Imagen es requerido</span>
          </div>
      </div>
      <div class="col-sm-12">
        <progressbar [value]="porcentajeSubida" type="danger" [striped]="true"><ng-container *ngIf="porcentajeSubida>0">{{porcentajeSubida}}%</ng-container></progressbar>
      </div>
      <br><br>
      <!-- FORLUMARIO VALIDO: {{formularioCliente.valid}}<br>
      IMG VALIDA: {{!formularioCliente.controls['imgUrl'].invalid}}<br>
      PORCENTAJESUBIDA100: {{porcentajeSubida == 100}}<br> -->
      <button *ngIf="!esEditable" [disabled]="!formularioCliente.valid || (formularioCliente.value.imgUrl !== '' && porcentajeSubida !== 100)" class="btn btn-primary" (click)="agregar()">Agregar</button>
      <button *ngIf="esEditable" [disabled]="!formularioCliente.valid || (formularioCliente.value.imgUrl !== '' && porcentajeSubida !== 100)" class="btn btn-primary" (click)="editar()">Editar</button>
    </div>
  </form>
</div>
